* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Shantell Sans";
}

body {
    background-color: rgb(250, 209, 156);
    font-family: "Open Sans", sans-serif;
}

.main-title {
    margin-right: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: row;
}

.note-header {
    background-color:violet;
    text-align: center;
    padding: 4px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgb(122, 122, 122);
}

.text-note {
    padding: 16px;
    margin: 8px;
    height: 300px;
    width: 240px;
}

.allnotes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.note-add {
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    background-color: aqua;
    border-color: aqua;
}

.note-save {
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    background-color: aqua;
    border-color: aqua;
}

.note-load {
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    background-color: aqua;
    border-color: aqua;
}

.note-edit {
    padding: 4px;
    cursor: pointer;
    background-color: aqua;
    border-color: aqua;
}

.note-delete {
    padding: 4px;
    cursor: pointer;
    background-color: aqua;
    border-color: aqua;
}

.hidden {
    display: none;
}